body, html{
    height: 100%;
}

#headerLogo {
    margin-left: 10%;

}

#menuBar {
    background: white;
}

#Title {
    font-family:cursive;
    font-weight: bolder;
}

#Title2 {
    font-family:cursive;
    font-weight: bolder;
}

#titleName {
    font-family:cursive;
    font-weight: bolder;
}

#contactButtonLandingPage {
    align-items: center;
    width:  250px;
    height: 75px;
    font-size: 20px;
    background-color: rgb(146, 192, 232);
    border-radius: 5px;
    border-width: 0px;
    color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

#landingPage {
    background-image: url("images/tea-in-different-material-of-cups-1-1.jpg");
    background-size: cover;
    background-position: 70%;
    height: 100%;
    padding-top: 100px;
    
}

#landingPage::before {
    content: "";
    position: absolute;
    background-color: rgba(0,0,0,0.75);
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
}